*{
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    background-color: #f5f6f8;
}

a {
	text-decoration: none;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.content {
    position: relative;
	max-width: 1300px;
	display: block;
	margin: 0 auto;
	padding: 20px 20px 50px;
}

@media screen and (max-width: 531px) {
    .content {
        padding: 20px 10px 50px;
    }
}

.svg-sprite {
    display: none;
}

.slick-prev, .slick-next {
    z-index: 10;
}

.slick-prev {
    left: 5px;
}
.slick-next {
    right: 25px;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: rgba(255,255,255,.5);
    transition: .3s;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    color: rgba(255,255,255,.9);
}

.slick-dots {
    position: absolute;
    bottom: -24px;
}

.slick-dots li {
    height: 15px;
    width: 15px;
    margin: 0 3px;
}

.slick-dots li button:before {
    font-size: 12px;
    opacity: .3;
}