.person-page__content {
	max-width: 1100px;
	padding: 20px;
}

.photo-gallery {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.person-page {
	padding-top: 15px;
	.person-page__portrait {
		position: relative;
	    float: left;
    	padding: 0 20px 10px 0;
		max-width: 320px;
		img {
			width: 100%;
		}
	}
	.person-page__info {
		position: relative;
		color: #333;
		font-family: 'OpenSansRegular'; 
		.person-page__name {
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 15px;
		}
		.person-page__profession {
			font-size: 18px;
			margin-bottom: 18px;
			div {
				margin-top: 5px;
			}
			&:after {
				background-color: rgba(51,51,51,.2);
			    content: " ";
			    display: block;
			    height: 2px;
			    margin-top: 10px;
			    overflow: hidden;
			}
		}
		.person-page__body {
			.person-page__title {
				font-size: 22px;
				line-height: 26px;
				font-family: 'OpenSansBold';
				margin-top: 20px;
				margin-bottom: 12px; 
			}
			.person-page__subtitle {
				font-size: 16px;
				line-height: 20px;
				font-family: 'OpenSansBold';
				margin-top: 14px;
				margin-bottom: 10px; 
			} 
			.person-page__text {
				text-align: justify;
				font-size: 16px;
				line-height: 22px;
				position: relative;
				margin-bottom: 10px;
				.person-page__img_right {
					float: right;
					max-width: 300px;
					margin-left: 20px;
					img {
						width: 100%;
					}
				}
				.person-page__img_left {
					float: left;
					max-width: 300px;
					margin-right: 20px;
					img {
						width: 100%;
					}
				}
			}
		}
	}
	.person-page__video-wrap {
		width: 100%;
		padding-top: 40px;
		padding-bottom: 20px;
		.person-page__video {
			margin-bottom: 30px;
		}
	}
}

video::-webkit-media-controls-panel {
  background: #e4e4e4;
}

@media screen and (max-width: 721px) {
	.person-page {
		.person-page__portrait {
		  float: none;
			display: block;
			margin: 0 auto;
			padding: 0 0 15px 0;
			max-width: 280px;
			img {
				width: 100%;
			}
		}
		.person-page__info {
			position: relative;
			/*padding: 0px 15px 15px;*/
			color: #333;
			font-family: 'OpenSansRegular';
			.person-page__name {
				font-size: 30px;
				line-height: 34px;
				margin-bottom: 15px;
			}
			.person-page_occupation {
				font-size: 18px;
				margin-bottom: 18px;
				div {
					margin-top: 5px;
				}
				&:after {
					background-color: rgba(51,51,51,.2);
				    content: " ";
				    display: block;
				    height: 2px;
				    margin-top: 10px;
				    overflow: hidden;
				}
			}
			.person-page__body {
				font-size: 16px;
				.person-page__title {
					font-family: 'OpenSansBold';
					margin-bottom: 8px; 
				}
				.person-page__text {
					margin-bottom: 12px;
					.person-page__img_right, .person-page__img_left {
						float: none;
						display: block;
						margin: 0 auto;
						padding: 5px 0 15px 0;
					}
				}
			}
		}
	}
}

.slick-slider_pp {
	.slick-slider_pp-item {
		.pp-item_img {
			width: 100%;
		}
	}
}

