.footer {
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #fff;
	font-family: 'OpenSansLight';
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	bottom: 0;
}