.header {
	position: relative;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9_%D0%BC%D0%BE%D1%81%D1%82_%D1%87%D0%B5%D1%80%D0%B5%D0%B7_%D1%80._%D0%92%D0%BE%D0%BB%D0%B3%D1%83.jpg/1200px-%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9_%D0%BC%D0%BE%D1%81%D1%82_%D1%87%D0%B5%D1%80%D0%B5%D0%B7_%D1%80._%D0%92%D0%BE%D0%BB%D0%B3%D1%83.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 210px;
	width: 100%; 
	.dark-pattern {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}
	.header-wrap {
		.header__caption {
			display: block;
			margin: 0 auto;
		    padding-top: 50px;
		    padding-bottom: 46px;
			font-family: 'OpenSansExtraBold';
			font-size: 32px;
			line-height: 38px;
			letter-spacing: 3px;
			text-transform: uppercase;
			text-align: center; 
			max-width: 550px;
			position: relative;
    		z-index: 10;
			a {
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: 531px) {
	.header {
		.header-wrap {
			.header__caption {
				padding-top: 60px;
    			padding-bottom: 38px;
				font-size: 24px;
				line-height: 31px;
				letter-spacing: 3px;
			}
		}
	}
}

@media screen and (max-width: 391px) {
	.header {
		.header-wrap {
			.header__caption {
				padding-top: 46px;
    			padding-bottom: 21px;
			}
		}
	}
}

@media screen and (max-width: 350px) {
	.header {
		.header-wrap {
			.header__caption {
				padding-top: 64px;
    			padding-bottom: 34px;
				font-size: 20px;
			}
		}
	}
}

@media screen and (max-width: 339px) {
	.header {
		.header-wrap {
			.header__caption {
				padding-top: 46px;
    			padding-bottom: 21px;
			}
		}
	}
}


.header__navbar {
	transition: background .3s;
	width: 100%;
	position: fixed;
	text-align: center;
	z-index: 100;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			font-family: 'OpenSansBold';
			font-size: 14px;
			line-height: 28px;
			text-transform: uppercase;
			margin-right: 7px;
			background-color: rgba(0, 0, 0, 0.7);
		    padding: 0 12px;
		    border-radius: 14px;
			&:nth-child(3) {
				margin-right: 0;
			}
			a {
				color: #fff;
				transition: .3s;
			}
			&:hover {
				a {
					color: rgba(255, 255, 255, 0.6);
				}
			}
		}
	}
}

.header__navbar_main {
	margin-right: 20px;
	text-align:right;
}

.navbar-scroll {
	background-color: #000;
	line-height: 40px;
}