.person {
	width: 100%;
	display: inline-block;
    text-align: center;
    padding-top: 30px;
	.person__block {
		position: relative;
		height: 350px;
		display: inline-block;
		vertical-align: top;
		width: 24%;
		background-image: url(../../images/kondratev.jpg);
		background-size: cover;
		background-position: center top;
		margin: 0 10px 20px 0;
		&:nth-child(4) {
			margin-right: 0;
		}
		&:nth-child(8) {
			margin-right: 0;
		}
		.person__title {
			width: 100%;
			color: #fff;
			font-family: 'OpenSansLight';
			font-size: 18px;
			text-align: left;
			background-color: rgba(0,0,0,.3);
			padding: 15px;
			position: absolute;
			bottom: 0;
			transition: .3s;
			z-index: 10;
			.person_occupation {
				margin-top: 8px;
				font-family: 'OpenSansBold';
				font-size: 14px;
			}
		}
	}
}

a.person__block:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0);
	transition: .3s;
}
a.person__block:hover:before {
	background: rgba(255, 255, 255, .1);
}
a.person__block:hover .person__title {
	background-color: rgba(0,0,0,.5);
}

@media screen and (max-width: 1110px) {
	.person {
		.person__block {
			width: 24%;
			margin: 0 8px 20px 0;
			.person__title {
				font-size: 16px;
				padding: 15px 20px;
				.person_occupation {
					margin-top: 8px;
					font-family: 'OpenSansBold';
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.person {
		.person__block {
			height: 300px;
			margin: 0 7px 20px 0;
		}
	}
}

@media screen and (max-width: 881px) {
	.person {
		.person__block {
			width: 32%;
			height: 310px;
			margin: 0 8px 20px 0;
			&:nth-child(4) {
				margin: 0 8px 20px 0;
			}
			&:nth-child(8) {
				margin: 0 8px 20px 0;
			}
			&:nth-child(3) {
				margin-right: 0;
			}
			&:nth-child(6) {
				margin-right: 0;
			}
			.person__title {
				font-size: 16px;
				padding: 15px 20px;
				.person_occupation {
					margin-top: 8px;
					font-family: 'OpenSansBold';
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 681px) {
	.person {
		.person__block {
			width: 49%;
			height: 350px;
			margin: 0 6px 20px 0;
			&:nth-child(3) {
				margin: 0 6px 20px 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			.person__title {
				font-size: 16px;
				padding: 15px 20px;
				.person_occupation {
					margin-top: 8px;
					font-family: 'OpenSansBold';
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 556px) {
	.person {
		.person__block {
			width: 48%;
			height: 300px;
			margin: 0 6px 20px 0;
			&:nth-child(3) {
				margin: 0 6px 20px 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.person {
		.person__block {
			width: 100%;
			height: 350px;
			&:nth-child(2n) {
				margin-bottom: 20px;
				margin-left: 0;
				margin-right: 0;
			}
			&:nth-child(2n+1) {
				margin-bottom: 20px;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

#person-anchor {
	position: absolute;
    top: -20px;
}