.search {
	position: relative;
	padding-top: 20px;
	.search__form-input {
		width: 95%;
		font-family: 'OpenSansRegular';
		height: 70px;
		border: 1px solid rgba(0, 0, 255, 0.1); 
		border-radius: 5px 0px 0px 5px;
		color: #5f5f5f; 
		font-size: 25px;
		outline: none;
		padding: 0 10px 0 20px;
		&:focus {
			outline: 2px solid rgba(0, 56, 255, 0.4);
			border-radius: 5px 0px 0px 5px;
		 }
	}
	.search__form-submit {
		height: 70px;
		width: 70px;
		border: none;
		border-radius: 0px 5px 5px 0px; 
		cursor: pointer;
		position: absolute;
		right: 0;
		background-color: #4c6da3;
		transition: .2s;
		&:hover {
			background-color: #5a87d0;
		}
		.svg__icon-loupe {
		    width: 50%;
		    height: 50%;
		}
	}
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

@media screen and (max-width: 1025px) {
	.search {
		.search__form-input {
			height: 50px;
			font-size: 22px;
		}
		.search__form-submit {
			height: 50px;
		}
	}
}