.slider-about {
	.slider-about_wrap {
		position: relative;
		background-size: cover;
		background-position: bottom;
		transition: .5s;
		overflow: hidden;
		margin:0;
	}
}

.slider-about__item {
	background-size: cover;
	background-position: center center;
	max-height: 780px;
}

.slider-about__item_img {
	width: 100%;
}

.about_autor {
	font-family: 'OpenSansRegular'; 
	font-size: 18px;
	text-align: center;
	margin: 15px auto;
}

.autor_link {
	color: #1900d8;
	transition: .3s;
	&:hover {
		color: #d80000;
	}
}


@media screen and (max-width: 661px) {
	.slider-about {
		.slider-wrap {
			height: 200px;
		}
	}
}